/* Enter your custom styles here */

.blueText {
  color: #0064d9;
}

.customFooterToolbar {
  background-color: #0064d9;
}

.customButtonColor .sapMBtnInner {
  color: #000000 !important; /* Change to your desired color */
}
